* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #ebeff5;
    font-family: 'Varela Round', sans-serif;
}

body.modal-active {
    overflow: hidden;
}

::-webkit-scrollbar{
    width: 16px;
}

::-webkit-scrollbar-track{
    background-color: #e4e4e4;
    border-radius: 100px;
}

::-webkit-scrollbar-thumb {
    background-color: #282744e0;
    border-radius:100px;
}

.grid {
    display: grid;
    padding: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
    "title title title"
    "header header header"
    "map status status"
    "map graph1 graph2"
}

/* .yearPicker{
    position: relative;
    z-index: 100;
} */

.title {
   grid-area: title;
   text-align: center;
   vertical-align: middle;
   margin-top: -20px;
   /* padding: 10px; */
}

.title h2{
   font-size: 20pt;
   font-weight: 400;
   letter-spacing: 0.2em;
}

.header {
    grid-area: header;
    text-align: center;
    vertical-align: middle;
    margin: 30px;
}

.header input{
    display: inline-block;
}

 .status {
    grid-area: status;
    text-align: center;
    vertical-align: middle;
    /* padding: 15px; */
 }

 .map {
    position: relative;
    grid-area: map;
    text-align: center;
    vertical-align: middle;
    height: 500px;
    width: 780px;
    font-size: 12px;
    border-radius: 60px;
    margin-right: 20px;
    /* margin-left: 20px; */
 }

 .graph1 {
    grid-area: graph1;
    text-align: center;
    vertical-align: middle;
    /* padding: 20px; */
    min-height: 180px;
    max-height: 350px;
    margin-right: 20px;
    max-width: 350px;
    
    position: relative;
    /* border-right: 1px solid rgba(0, 0, 0, 0.2); */
 }

 .graph2 {
    grid-area: graph2;
    text-align: center;
    vertical-align: middle;
    /* padding: 20px; */
    min-height: 180px;
    max-height: 350px;
    max-width: 350px;
    
    position: relative;
    /* border: 1px solid #000; */

 }

 .graph1 canvas{
    /* min-height: 200px; */
    padding: 10px 20px 10px 15px;
    border-radius: 10px;
    background-color: white;
}

.graph2 canvas{
    /* min-height: 200px; */
    padding: 10px 20px 10px 15px;
    border-radius: 10px;
    background-color: white;
}

canvas {
    z-index: 5;
}

canvas, .fore{
    position: absolute;
    height: 100%;
    width: 100%;
    max-height: 180px;
    max-width: 350px;
    top: 0;
    left: 0;
}

.fore {
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.0);
    border-radius: 10px;
    transition: 0.5s ease-in;
    cursor: pointer;
    z-index: 10;
}

.fore:hover {
    background: rgba(0, 0, 0, 0.5);
    transform: scale(0.98);
} 

/* Modal Canvas 1 */

#modal-container1 {
    position: fixed;
    background-color: rgba(0,0,0,0.7);
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    /* opacity: 0;
    pointer-events: none; */
    transform: scale(0);
    z-index: 50;
    transition: opacity 0.8s ease-out;
}

#modal-container1.show {
    /* opacity: 1;
    pointer-events: auto; */
    transform: scaleY(0.01) scaleX(0);
    animation: unfoldIn 1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

#modal-container1.out {
    transform: scale(1);
    animation: unfoldOut 1s 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

#modal-canvas1{
    background-color: #fff;
    min-width: 400px;
    max-width: 800px;
    min-height: 300px; 
    max-height: 500px;
    width: 100%;
    height: 100%;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    text-align: center;
    margin: 0;
    display: flex;
    flex-direction: row-reverse;
    transform: scale(0);
}

#modal-canvas1.zoomIn {
    animation: zoomIn 0.5s 1.2s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

#modal-canvas1.out {
    animation: zoomOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

#modal-canvas1 span {
    /* border: 1px solid red; */
    margin-top: -0.4rem;
    margin-right: -0.3rem;
    position: relative;
    z-index: 10;
    max-width: fit-content;
}

#modal-canvas1 span i {
    cursor: pointer;
}

#modal-canvas1 div{
    z-index: 3;
}

#modal-canvas1 canvas {
    min-height: 300px;
    max-height: 500px;
    max-width: 800px;
    width: 100%;
    margin: 0;
}

/* Modal Canvas 2 */

#modal-container2 {
    position: fixed;
    background-color: rgba(0,0,0,0.7);
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    /* opacity: 0;
    pointer-events: none; */
    transform: scale(0);
    z-index: 50;
    transition: opacity 0.8s ease-out;
}

#modal-container2.show {
    /* opacity: 1;
    pointer-events: auto; */
    transform: scaleY(0.01) scaleX(0);
    animation: unfoldIn 1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

#modal-container2.out {
    transform: scale(1);
    animation: unfoldOut 1s 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

#modal-canvas2{
    background-color: #fff;
    min-width: 400px;
    max-width: 800px;
    min-height: 300px; 
    max-height: 500px;
    width: 100%;
    height: 100%;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    text-align: center;
    margin: 0;
    display: flex;
    flex-direction: row-reverse;
    transform: scale(0);
}

#modal-canvas2.zoomIn {
    animation: zoomIn 0.5s 1.2s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

#modal-canvas2.out {
    animation: zoomOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

#modal-canvas2 span {
    /* border: 1px solid red; */
    margin-top: -0.4rem;
    margin-right: -0.3rem;
    position: relative;
    z-index: 10;
    max-width: fit-content;
}

#modal-canvas2 span i {
    cursor: pointer;
}

#modal-canvas2 div{
    z-index: 3;
}

#modal-canvas2 canvas {
    min-height: 300px;
    max-height: 500px;
    max-width: 800px;
    width: 100%;
    margin: 0;
}

/* .grid div:nth-child(even){
    background-color: red;
}

.grid div:nth-child(odd){
    background-color: green;
} */

/* Status */ 
.status {
    margin-top: 20px;
    margin-bottom: -20px;
}

#pop{
    background-color: #ff968a;
}

#emp{
    background-color: #cbaacb;
}

#unemp {
    background-color: #97c1a9;
}

#underemp{
    background-color: #55cbcd;
}

.card-info {
    /* box-sizing: border-box; */
    padding: 10px 10px;
    border-radius: 5px;
    height: 85px;
    width: 200px;
    margin: auto;
}

.card-info-header {
    border-bottom: 1px solid rgba(0,0,0,0.10);
}

.card-info-body{
    padding: 5px;
    /* font-size: 13px; */
}

/* Legend Card */
#legend {
    position: absolute;
    text-align: left;
    bottom: 0;
    left: 0;
    width: 180px;
    height: 250px;
    z-index: 34;
    border-radius: 15px;
    margin: 10px 25px 50px 40px;
    box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.05),
                inset -5px -5px 5px rgba(255, 255, 255, 0.5),
                5px 5px 5px rgba(0, 0, 0, 0.05),
                -5px -5px 5px rgba(255, 255, 255, 0.5);
}

#legend_title{
    position: relative;
    font-size: 12px;
    color: #21acec;
    /* mix-blend-mode: difference; */
    margin: 13px 14px 0px 20px;
}

.symbol {
    padding: 3px;
    z-index: 34;
    margin-top: 5px;
    margin-left: 20px;
}

.legend_txt {
    color: #21acec;
    /* mix-blend-mode: difference; */
    font-size: 12px;
    z-index: 34;
}

#class6, #class5, #class4,
#class3, #class2, #class1, #class0{
    display: inline-block;
    margin: 0px 8px -6px -5px;
    height: 20px;
    width: 25px;
    z-index: 34;
    border-radius: 4px;
}

#class6{
    background-color: #800026;
}

#class5{
    background-color: #bd0026;
}

#class4{
    background-color: #e31a1c;
}

#class3{
    background-color: #fc4e2a;
}

#class2{
    background-color: #fd8d3c;
}

#class1 {
    background-color: #feb24c;
}

#class0{
    background-color: #fed976;
}

/* Layers Card Floater */
.ol-popup{
    position: absolute;
    background-color: white;
    font-size: 10px;
    -webkit-filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.2));
    filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #ccc;
    bottom: 12px;
    left: -50px;
    min-width: 280px;
}

.ol-popup:after,
.ol-popup:before{
    top: 100%;
    border: solid transparent;
    content: '';
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.ol-popup:after{
    border-top-color: white;
    border-width: 10px;
    left: 48px;
    margin-left: -10px;
}

.ol-popup:before{
    border-top-color: #ccc;
    border-width: 11px;
    left: 48px;
    margin-left: -11px;
}

.ol-popup-closer{
    text-decoration: none;
    position: absolute;
    top: 2px;
    right: 8px;
}

.ol-popup-closer:after{
    content: "X";
}

/* Modal Animations */

@keyframes unfoldIn{
    0% {
        transform: scaleY(0.005) scaleX(0);
    }
    50% {
        transform: scaleY(0.005) scaleX(1);
    }

    100% {
        transform: scaleY(1) scaleX(1);
    }
}

@keyframes unfoldOut {
    0% {
        transform: scaleY(1) scaleX(1);
    }

    50% {
        transform: scaleY(0.005) scaleX(1);
    }
    100% {
        transform: scaleY(0.005) scaleX(0);
    }
}

@keyframes zoomIn {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes zoomOut {
    0% {
        transform: scale(1);
    }
    100% {
        transform:scale(0);
    }
}