* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #ebeff5;
    font-family: 'Varela Round', sans-serif;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "title title"
    "header header"
    "status status"
    "map map"
    "graph1 graph2"
}

.title {
   grid-area: title;
   text-align: center;
   vertical-align: middle;
   margin-top: 10px;
   padding: 10px;
}

.title h2{
   font-size: 18pt;
   font-weight: 400;
   letter-spacing: 0.2em;
}

.header {
    position: relative;
    grid-area: header;
    text-align: center;
    vertical-align: middle;
    padding: 15px;
}

.header input{
    display: inline-block;
}

 .status {
    grid-area: status;
    text-align: center;
    vertical-align: middle;
    padding: 15px;
 }

 .map {
    position: relative;
    grid-area: map;
    text-align: center;
    vertical-align: middle;
    height: 700px;
    font-size: 12px;
 }

 .graph1 {
    grid-area: graph1;
    text-align: center;
    vertical-align: middle;
    padding: 20px;
    min-height: 300px;
    max-height: 400px;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
 }

 .graph2 {
    grid-area: graph2;
    text-align: center;
    vertical-align: middle;
    padding: 20px;
    min-height: 300px;
    max-height: 400px;
    /* border: 1px solid #000; */

 }

 .graph1 canvas{
    min-height: 300px;
    max-height: 400px;
    padding: 10px 20px 10px 15px;
    border-radius: 10px;
    background-color: white;
}

.graph2 canvas{
    min-height: 300px;
    max-height: 400px;
    padding: 10px 20px 10px 15px;
    border-radius: 10px;
    background-color: white;
}


/* .grid div:nth-child(even){
    background-color: red;
}

.grid div:nth-child(odd){
    background-color: green;
} */

/* Status */ 
#population{
    background-color: #ff968a;
}

#employed{
    background-color: #cbaacb;
}

#unemployed {
    background-color: #97c1a9;
}

#underemployed {
    background-color: #55cbcd;
}

/* Legend Card */
#legend {
    position: absolute;
    text-align: left;
    bottom: 0;
    left: 0;
    width: 180px;
    height: 250px;
    z-index: 34;
    border-radius: 15px;
    margin: 10px 25px 50px 40px;
    box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.05),
                inset -5px -5px 5px rgba(255, 255, 255, 0.5),
                5px 5px 5px rgba(0, 0, 0, 0.05),
                -5px -5px 5px rgba(255, 255, 255, 0.5);
}

#legend_title{
    /* position: relative; */
    font-size: 12px;
    color: #21acec;
    /* mix-blend-mode: difference; */
    margin: 13px 14px 0px 20px;
}

.symbol {
    padding: 3px;
    z-index: 34;
    margin-top: 5px;
    margin-left: 20px;
}

.legend_txt {
    color: #21acec;
    /* mix-blend-mode: difference; */
    font-size: 12px;
    z-index: 34;
}

#class6, #class5, #class4,
#class3, #class2, #class1, #class0{
    display: inline-block;
    margin: 0px 8px -7px -5px;
    height: 20px;
    width: 25px;
    z-index: 34;
    border-radius: 5px;
}

#class6{
    background-color: #800026;
}

#class5{
    background-color: #bd0026;
}

#class4{
    background-color: #e31a1c;
}

#class3{
    background-color: #fc4e2a;
}

#class2{
    background-color: #fd8d3c;
}

#class1 {
    background-color: #feb24c;
}

#class0{
    background-color: #fed976;
}

/* Layers Card Floater */
.ol-popup{
    position: absolute;
    background-color: white;
    font-size: 10px;
    -webkit-filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.2));
    filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #ccc;
    bottom: 12px;
    left: -50px;
    min-width: 280px;
}

.ol-popup:after,
.ol-popup:before{
    top: 100%;
    border: solid transparent;
    content: '';
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.ol-popup:after{
    border-top-color: white;
    border-width: 10px;
    left: 48px;
    margin-left: -10px;
}

.ol-popup:before{
    border-top-color: #ccc;
    border-width: 11px;
    left: 48px;
    margin-left: -11px;
}

.ol-popup-closer{
    text-decoration: none;
    position: absolute;
    top: 2px;
    right: 8px;
}

.ol-popup-closer:after{
    content: "X";
}